.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-secondary);
  padding: 2rem;
  /* font-family: "Segoe UI", sans-serif; */
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__email {
  /* border: 1px solid red; */
  padding: 0.2rem 0;
  color: var(--footer-text-secondary);
}

.footer__email a {
  text-decoration: none;
  color: var(--footer-text-secondary);
  font-weight: 600;
}

.footer__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(footer-text-title);
  font-weight: 600;
}

.footer__description {
  line-height: 1.6;
  font-size: 0.95rem;
  color: var(--footer-text-secondary);
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link {
  color: var(--footer-text-secondary);
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: inline-block;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--footer-text-shadow);
  text-decoration: underline;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: var(--footer-text-secondary);
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: var(--footer-text-shadow);
}

.footer__icon {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.footer__bottom {
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid #374151;
  padding-top: 1rem;
  font-size: 0.85rem;
  color: #9ca3af;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
